<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/main.css" rel="stylesheet" media="screen">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <!-- Azure Mobile Services -->
    <script src="http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.0.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <article id="panels" style="display: none;">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= title %></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#temp">Temp</a></li>
            <li><a href="#humidity">Humidity</a></li>
            <li><a href="#xmas">Lights</a></li>
            <li><a href="#cam">Camera</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2 id="temp"><span class="glyphicon glyphicon-dashboard"></span> Temperature</h2>
          <p>Current temperature: <span id="temp_text"></span> <progress id="temp_meter"></progress></p>
        </div>
        <div class="col-lg-4">
          <h2 id="humidity"><span class="glyphicon glyphicon-tint"></span> Humidity</h2>
          <p>Current humidity: <span id="humidity_text"></span> <progress id="humidity_meter"></progress></p>
        </div>
        
      </div>
      <div class="row">
        <div class="col-lg-4">
            <h2 id="xmas"><span class="glyphicon glyphicon-tree-conifer"></span> Lights</h2>
            <!--<input type="range" class="toggle" min=0 max=1 onchange="this.setAttribute('value',this.value)">-->
            <button type="xmas_toggle" class="btn btn-success"><span class="glyphicon glyphicon-off"></span> On</button>
            <div>
                <label>Start time 
                    <div class="input-group input-group-sm">
                        <input id="xmas_starttime" type="text" class="form-control input-sm" value="4:45 PM">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                </label>
                <label>Stop time 
                    <div class="input-group input-group-sm">
                        <input id="xmas_stoptime" type="text" class="form-control input-sm" value="11:59 PM">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-lg-4">
            <h2 id="cam"><span class="glyphicon glyphicon-facetime-video"></span> Camera</h2>
            <img src="http://jrossi.dyndns.org:3001/?action=snapshot" class="camera img-responsive">
        </div>
      </div>
</article>
<div id="logged-in">
    You are logged in.
    <button id="log-out">Log out</button>
</div>
<div id="logged-out">
    You are not logged in.
    <button>Log in</button>
</div>

      <hr>

    <footer>
        <p>&copy; Ramblin' Apps, LLC 2013</p>
    </footer>
    </div>

    <script src="js/temperature.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
    var camera = document.querySelector(".camera");
    fetchImage();
    
    function fetchImage() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "http://jrossi.dyndns.org:3001?action=snapshot&r=" + Math.random().toString());
        xhr.responseType = "blob";
        xhr.onreadystatechange = updateImage.bind(xhr);
        xhr.send();
    }

    function updateImage() {
        if(this.readyState == this.DONE) {
            if(this.status == 200) {
                var url = URL.createObjectURL(this.response);
                camera.onload = function () { URL.revokeObjectURL(camera.src); };
                camera.src = url;
            }
            //setTimeout(fetchImage,1000);
            fetchImage();
        }
    }

var client = new WindowsAzure.MobileServiceClient(
    "https://gtjrossi.azure-mobile.net/",
    "IJbICPArYBAQBGGbXdPpEEcVSNDQvn66"
);
var item = { text: "Awesome item" };
client.getTable("Item").insert(item);
function refreshAuthDisplay() {
    var isLoggedIn = client.currentUser !== null;
    $("#logged-in").toggle(isLoggedIn);
    $("#logged-out").toggle(!isLoggedIn);

    if (isLoggedIn) {
        document.querySelector("#panels").style.display = "block";
    }
}

function logIn() {
    client.login("google").then(refreshAuthDisplay, function(error){
        alert(error);
    });
}

function logOut() {
    client.logout();
    refreshAuthDisplay();
    $('#summary').html('<strong>You must login to access data.</strong>');
}

// On page init, fetch the data and set up event handlers
$(function () {
    refreshAuthDisplay();
    $('#summary').html('<strong>You must login to access data.</strong>');          
    $("#logged-out button").click(logIn);
    $("#logged-in button").click(logOut);
});
    </script>
  </body>
</html>
