.navbar { 
    -ms-touch-action: manipulation; 
    touch-action: manipulation;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

progress {
    width: 100%;
}

.camera {
    border: 1px solid #999;
}

.toggle {
    width: 40px;
}

.toggle[value="0"]::after {
    content: "Off";
}

.toggle[value="1"]::after {
    content: "On";
    color: #398439;
}